{% extends "_base.html" %}

{% block css %}

<style>
.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: black;
}
</style>

{% endblock %}

{% block content %}

<div class="body-content">
  <div class="row">
    <h1>Findings</h1>

    <ul class="nav nav-tabs" tole="tablist">
        <li><a href="/transaction">Transactions</a></li>
        <li class="active"><a href="/defect">Defects</a></li>
        <li><a href="/link">Links</a></li>
    </ul>

    <h2>Defects</h2>
    <h3>Defect quantities</h3>
        <p>Following chart shows absolute quantites of individual defect type. The colour represents severity of the defect type.</p>
        <div class="chart" id="chart0"></div>

    <p><a href="/defect/">-> Back to data</a></p>
  </div>
</div>

{% endblock %}

{% block js %}
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript">
        d3.json("/data", function(json) {
            var x = d3.scale.linear().domain([0, d3.max(json["defect-type-count-array"])]).range([0, 1000]);
            var y = d3.scale.linear().domain([d3.min(json['severity-values']), d3.max(json['severity-values'])])
                            .range(["green", "red"]);
            var value = function(key) { return json["defect-type-count"][key]; }
            var severity = function(key) { return json["defect-type-severity"][key]; }
            var description = function(key) { return key + " ("+ value(key) + ")"; }
            
            //chart 0
            d3.select("#chart0").selectAll("div").data(json["defect-type-label-array"])
              .enter().append("div").style("width", function(d) { return x(value(d)) + "px"; })
              .style("background-color", function(d) { return y(severity(d)); })
              .text(function(d) { return description(d); });

        });
    </script>

{% endblock %}
