{% extends "_base.html" %}

{% block content %}

<div class="body-content">
  <div class="row">
    <h1>Findings</h1>

    <ul class="nav nav-tabs" tole="tablist">
        <li><a href="/transaction">Transactions</a></li>
        <li class="active"><a href="/finding">Findings</a></li>
    </ul>

    <h2>Defects</h2>
    <table border="1" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>URI</th>
                <th class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopusp="true" aria-expanded="false">
                        Type
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" id="dtype">
                        <li>foo</li>
                        <li>bar</li>
                    </ul>
                </th>
                <th>Location</th>
                <th>Evidence</th>
                <th>Severity</th>
                <th>Go to transaction</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>http://example.com/lorem.ipsum.txt</td>
                <td>Invalid content-type</td>
                <td>43</td>
                <td>xyz</td>
                <td>0.5</td>
                <td><a href="/finding/43">></a></td>
            </tr>
        </tbody>
    </table>

    <h2>Links</h2>
    <table border="1" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>To</th>
                <th>From</th>
                <th>Processed</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
  </div>
</div>

{% endblock %}
