{% extends "_base.html" %}

{% block content %}

{% if transaction %}

<div class="body-content">
  <div class="row">
    <h1>Discoveries</h1>

    <h2>Transaction information</h2>
    <table border="1" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>URI</th>
                <th>Method</th>
                <th>Response status</th>
                <th>Content type</th>
                <th>Depth</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{transaction.uri}}</td>
                <td>{{transaction.method}}</td>
                <td>{{transaction.status}}</td>
                <td>{{transaction.ctype}}</td>
                <td>{{transaction.depth}}</td>
            </tr>
        </tbody>
    </table>

    <p><a href="/path/{{transaction.id}}">Show path</a></p>

    <h2>Defects</h2>
    <table border="1" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Defect</th>
                <th>Evidence</th>
                <th>Severity</th>
            </tr>
        </thead>
        <tbody>
            {% for defect in defects %}
                <tr>
                    <td> {{defect.type}}: {{defect.description}} </td>
                    <td> {{defect.evidence}} </td>
                    <td> {{defect.severity}} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Links</h2>
    <table border="1" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>To</th>
                <th>From</th>
                <th>Processed</th>
            </tr>
        </thead>
        <tbody>
            {% for link in links %}
                <tr>
                    <td> {{link.fromUri}} </td>
                    <td> {{link.toUri}} </td>
                    <td> {{link.processed}} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endif %}

{% endblock %}
