{% extends "_base.html" %}

{% block content %}

<div class="body-content">
  <div class="row">
    <h1>Findings</h1>

    <ul class="nav nav-tabs" tole="tablist">
        <li><a href="/transaction">Transactions</a></li>
        <li><a href="/defect">Defects</a></li>
        <li class="active"><a href="/link">Links</a></li>
    </ul>

    <h2>Links</h2>
    <p><a href="visual/">-> Visualization</a></p>
    <table border="1" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>From</th>
                <th>To</th>
                <th class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopusp="true" aria-expanded="false">
                        Processed
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" id="processed">
                        <li><a href="?p=1">YES</a></li>
                        <li><a href="?p=0">NO</a></li>
                        <li><a href="/link">No filter</a></li>
                    </ul>
                </th>
                <th>Go to source</th>
                <th>Go to target</th>
            </tr>
        </thead>
        <tbody>
            {% for link in links.items %}
                <tr>
                    <td> {{link.fromUri}} </td>
                    <td> {{link.toUri}} </td>
                    <td> {% if link.processed %} YES {% else %} NO {% endif %} </td>
                    <td> <a href="/finding/{{link.responseId}}">></a> </td>
                    <td> {% if link.processed %} <a href="/finding/{{link.requestId}}">></a> {%endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>Page {{links.page}} / {{links.pages}}
       {% if links.page != 1 %} <a href="/link/page/{{links.prev_num}}">Previous</a> {% endif %}
       {% if links.page != links.pages %} <a href="/link/page/{{links.next_num}}">Next</a> {% endif %}</p>
  </div>
</div>

{% endblock %}
