{% extends "_base.html" %}

{% block css %}
        <link href="{{url_for('static', filename='netjsongraph.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='netjsongraph-theme.css')}}" rel="stylesheet">
        <style type="text/css">
            body {
                font-family: Arial, sans-serif;
                font-size: 13px;
            }

            #network-graph{
                width: 1000px;
                height: 800px;
                margin: 0 auto;
                border: 1px solid #ccc;
            }
        </style>
{% endblock %}

{% block content %}

<div class="body-content">
  <div class="row">
    <h1>Links</h1>

    <ul class="nav nav-tabs" tole="tablist">
        <li><a href="/transaction">Transactions</a></li>
        <li><a href="/defect">Defects</a></li>
        <li class="active"><a href="/link">Links</a></li>
    </ul>

    <h2>Links</h2>
    <h3>Processed links</h3>
    <p>Processed links are links that were followed, downloaded. Unprocessed links are for example links leading to already visited page.</p>
    <svg id="donut0" width="600" height="400"></svg>

   <!-- <h3>Link quality</h3>
    <p>Green are processed links leading to existing page, red are processed links leading to non-existing page.</p>
    <svg id="donut1" width="600" height="400"></svg>-->
    <p><a href="/link/">-> Back to data</a></p>
  </div>
</div>

{% endblock %}

{% block js %}
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script>
        var myScale = d3.scale.linear().domain([0, 100]).range([0, 2 * Math.PI]);
        function donut(json, placeholder) {
            var vis = d3.select(placeholder);
            var arc = d3.svg.arc().innerRadius(50).outerRadius(100).startAngle(function(d) { return myScale(d[0]); })
                        .endAngle(function(d) { return myScale(d[1]); });
            vis.selectAll("path").data(json).enter().append("path").attr("d", arc)
               .style("fill", function(d) { return d[2]; }).attr("transform", "translate(300, 200)");
        }
        d3.json("/data", function(json) {
            var vis = d3.select("#donut0");
            var arc = d3.svg.arc().innerRadius(50).outerRadius(100).startAngle(function(d) { return myScale(d[0]); })
                        .endAngle(function(d) { return myScale(d[1]); });
            vis.selectAll("path").data(json['processed-pie']).enter().append("path").attr("d", arc)
               .style("fill", function(d) { return d[2]; }).attr("transform", "translate(300, 200)");
        });
</script><!--
            var vis = d3.select("#donut1");
            var arc = d3.svg.arc().innerRadius(50).outerRadius(100).startAngle(function(d) { return myScale(d[0]); })
                        .endAngle(function(d) { return myScale(d[1]); });
            vis.selectAll("path").data(json['quality-pie']).enter().append("path").attr("d", arc)
               .style("fill", function(d) { return d[2]; }).attr("transform", "translate(300, 200)");

        }); 
    </script>-->
{% endblock %}
