{% extends "_base.html" %}

{% block css %}
        <link href="{{url_for('static', filename='netjsongraph.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='netjsongraph-theme.css')}}" rel="stylesheet">
        <style type="text/css">
            body {
                font-family: Arial, sans-serif;
                font-size: 13px;
            }

            #network-graph{
                width: 1000px;
                height: 800px;
                margin: 0 auto;
                border: 1px solid #ccc;
            }
        </style>
{% endblock %}

{% block content %}

<div class="body-content">
  <div class="row">
    <h1>Links</h1>

    <ul class="nav nav-tabs" tole="tablist">
        <li><a href="/transaction">Transactions</a></li>
        <li><a href="/defect">Defects</a></li>
        <li class="active"><a href="/link">Links</a></li>
    </ul>

    <h2>Links</h2>
    <h3>Network</h3>
    <div id="network-graph"></div>
    <p><a href="/link/">-> Back to data</a></p>
  </div>
</div>

{% endblock %}

{% block js %}
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="{{url_for('static', filename='netjsongraph.js')}}"></script>
     <script>
        d3.netJsonGraph("/data/network", {
            el: "#network-graph"
        });
    </script>
{% endblock %}
