{% extends "_base.html" %}

{% block content %}

<div class="body-content">
  <div class="row">
    <h1>Transactions</h1>

    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="/transaction">Transactions</a></li>
        <li><a href="/defect">Defects</a></li>
        <li><a href="/link">Links</a></li>
    </ul>

    <table border="1" class="table table-striped table-bordered">
        <thead><tr>
            <th>URI</th>
            <th class="dropdown">
               <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Status
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" id="status">
                    {% for status in statuses%}
                        <li>{{status}}</li>
                    {% endfor %}
                </ul>
            </th>
            <th class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopus="true" aria-expanded="false">
                    Content type
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" id="ctype">
                    {% for ctype in types %}
                        <li>{{ctype}}</li>
                    {% endfor %}
                </ul>
            </th>
            <th>See details</th>
        </tr></thead>

        <tbody>
            {% for item in data %}
                <tr>
                    <td>{{item.uri}}</td>
                    <td>{{item.status}}</td>
                    <td>{{item.ctype}}</td>
                    <td><a href="/finding/{{item.id}}">></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>

{% endblock %}
